header{
    background-color: aqua;
    color: black;
    padding:2 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 1.5 rem;
}
nav ul{
  list-size: none;
  display: flex;
  gap:1rem;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: background 0.3s,color 0.3s;
}
nav ul li a:hover{
  background-color: red;
  color: #000;
  border-radius: 5px;
}
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  height:100%;
  width:100%;
  flex: 1;
}
.intro-img{
  display: flex;
  align-items: center;
}
.intro-img img{
  height:auto;
  width:250px;
}
